<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink= "/home" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Business Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label class="ion-padding" >Make a Solid Busines Plan</ion-label>
      <ion-button fill="outline" slot="end" routerLink = "/busi-one" >View</ion-button>
    </ion-item>
  
    <ion-card-content>
      The first thing you’ll want to do before making any investment is do your research, diligently!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding" >The Location</ion-label>
      <ion-button fill="outline" slot="end" routerLink = "/busi-two">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      You know what they say: “location, location, location”. Well, as it turns out, that’s not always the case.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="document-outline"></ion-icon>
      <ion-label class="ion-padding" >Get your Licences and Permits</ion-label>
      <ion-button fill="outline" slot="end" routerLink = "/busi-three">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      When it comes to regulations, every country, county and city is different.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="share-social-outline"></ion-icon>
      <ion-label class="ion-padding" >Advertise your business</ion-label>
      <ion-button fill="outline" slot="end" routerLink = "/busi-four">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Before opening your small food business, you’ll want to do a fair amount of advertising to alert your local community that there’s a new eatery on the block.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label class="ion-padding" >Financing</ion-label>
      <ion-button fill="outline" slot="end" routerLink = "/busi-five">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Now it’s time to sort your finances. But not everyone who wants to start a restaurant has the personal funding to do so. In fact, most don’t.
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)= "goToHome()" >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>4</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="categories" (click)= "goToCategories()"    >
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe" [routerLink]="['/recipe']" >
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Recipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="business" [routerLink]="['/business']">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>