<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/detail">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Pinoy Main Dishes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

      
      <!-- <h3>{{ulams.title}}</h3>
      <p> {{ulams.descrip}}</p> -->

      <ion-card>
        <ion-card-header>
          <p align = "center">
          <img width = "300" height = "200" src = "{{ulams.img}}">
           </p>
          <ion-card-subtitle>{{ulams.sub}}</ion-card-subtitle>
          <ion-card-title>{{ulams.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ulams.descrip}}<br><br>
          {{ulams.ingre}}<br><br>
        </ion-card-content>
      </ion-card>
      

</ion-content>