<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" (click)="goToHome()" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Food Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home"(click)= "goToHome()"  >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>4</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="categories" (click)= "goToCategories()"    >
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Dictionary</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="recipe" [routerLink]="['/recipe']" >
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Recipe</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="business" [routerLink]="['/business']">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Tips</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-list-header lines="full">
    <ion-label>Pinoy Main Dishes</ion-label>
    <ion-button (click)= "goToBook()" >See All</ion-button>
  </ion-list-header>
  
  <ion-list-header lines="inset">
    <ion-label>Pinoy Side Dishes</ion-label>
    <ion-button (click)= "goToSide()" >See All</ion-button>
  </ion-list-header>

  <ion-list-header lines="inset">
    <ion-label>Meryenda</ion-label>
    <ion-button (click)= "goToMeryen()" >See All</ion-button>
  </ion-list-header>

  <ion-list-header lines="inset">
    <ion-label>Pinoy Drinks, Desserts and Other Delicacies</ion-label>
    <ion-button (click)= "goToDrink()" >See All</ion-button>
  </ion-list-header>

</ion-content>
