<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
    <ion-menu-button menu = "main-menu" slot = "start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Version.0.0.1</ion-card-subtitle>
    <ion-card-title>Food Recipe App</ion-card-title>
  </ion-card-header>

  <ion-card-content color="dark">
    <ion-label>
      <span>The idea that we came up with is a Food Recipe App. The Food Recipe App is about giving 
      information about foods that can be utilized as a source of income in businesses
      specifically in the time of the pandemic.</span><br>
      <span>The growing side effect of the pandemic
       is permanent job loss the reason why many individuals are struggling in the pandemic and 
        several of them are unemployed at the moment, we thought that giving them ideas about foods
         that are good and essential in the pandemic will be able to help them establish a small food 
         business, thus having an additional income in the comfort of their home since we know that it
          is not safe for people to leave their house. </span><br>
          <span> The objective of this application is to share ideas
           on how to create business related to food and give additional information how much they will get
            as an income because this app will also show about the total cost amount  of each food product
             according to the serving of the foods. </span>
    </ion-label>
    
  </ion-card-content>
</ion-card>


</ion-content>
