<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/book-drinks">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Pinoy Drinks and Desserts
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <p align = "center">
      <img width = "300" height = "200" src = "{{adobo.img}}">
       </p>
      <ion-card-subtitle>{{adobo.sub}}</ion-card-subtitle>
      <ion-card-title>{{adobo.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{adobo.descrip}}
      <ion-label class = "item-text-wrap" color = "dark">
        <span> {{adobo.main}} </span>
        <span> {{adobo.ingre}} </span>
        <span> {{adobo.ingree}} </span>
        <span> {{adobo.ingree1}} </span>
        <span> {{adobo.ingree2}} </span>
        <span> {{adobo.ingree3}} </span>
        <span> {{adobo.ingree4}} </span>
        <span> {{adobo.ingree5}} </span>
        <span> {{adobo.ingree7}} </span>
        <span> {{adobo.ingree8}} </span>
        <span> {{adobo.ingree9}} </span>
        <span> {{adobo.ingree10}} </span>
        <span> {{adobo.ingree11}} </span>
        <span> {{adobo.ingree12}} </span>
        <span> {{adobo.ingree13}} </span>
        <span> {{adobo.ingree14}} </span>
        <span> {{adobo.ingree15}} </span>
        <span> {{adobo.ingree17}} </span>
        <span> {{adobo.ingree18}} </span>
        <span> {{adobo.ingree19}} </span>
        <span> {{adobo.ingree20}} </span>
        <span> {{adobo.ingree21}} </span>
    </ion-label>
    <br>
    <ion-label color = "primary">
      {{adobo.prod}}<br><br>
      <span> {{adobo.proc}}</span>
      <span> {{adobo.proc1}}</span>
      <span> {{adobo.proc2}}</span>
      <span> {{adobo.proc3}}</span>
      <span> {{adobo.proc4}}</span>
      <span> {{adobo.proc5}}</span>
      <span> {{adobo.proc7}}</span>
      <span> {{adobo.proc8}}</span>
      <span> {{adobo.proc9}}</span>
      <span> {{adobo.proc10}}</span>
      <span> {{adobo.proc11}}</span>
      <span> {{adobo.proc12}}</span>
      <span> {{adobo.proc13}}</span>
      <span> {{adobo.proc14}}</span>
      <span> {{adobo.proc15}}</span>



    </ion-label>

    </ion-card-content>
  </ion-card>
  

</ion-content>
