<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/side">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Pinoy Side dishes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <p align = "center">
      <img width = "300" height = "300" src = "{{side.img}}">
       </p>
      <ion-card-subtitle>{{side.sub}}</ion-card-subtitle>
      <ion-card-title>{{side.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{side.descrip}}<br><br>
      {{side.ingre}}
    </ion-card-content>
  </ion-card>

</ion-content>