<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Developers
    </ion-title>
    <ion-menu-button menu = "main-menu" slot = "start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card>
    <ion-item>
      <img width="125" height="125" src = "/assets/images/main/gelo.jpg">
      <ion-label class ="ion-padding">Angelo Asensi</ion-label>
    </ion-item>
  
    <ion-card-content color="dark">
      Lead Developer of this App. Likes good food (not veggies), Anime and Marvel Comics Geek, Stuck Emerald I in League of Legends Wild Rift.
      Rendon Labador Devotee. Coding Skills: Mediocre
      <br>
      <br><ion-label>Contact Me @ My Social Media Links below:</ion-label><br>
      <ion-button href = "https://web.facebook.com/a.asensi26" color="dark" >
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img width="125" height="125" src = "/assets/images/main/lyka.jpg">
      <ion-label class ="ion-padding">Lyka Rossete Dawis</ion-label>
    </ion-item>
  
    <ion-card-content color="dark" >
      Co-Developer, Co-Researcher and Proof Reader of the App. Likes Dogs. Like Ben & Ben Music. <br>

      <br><ion-label>Contact Me @ My Social Media Links below:</ion-label><br>
      <ion-button href = "https://www.facebook.com/lykarosette.dawis/" color="dark" >
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button href = "https://l.facebook.com/l.php?u=https%3A%2F%2Ftwitter.com%2Flyka_dawis%3Ffbclid%3DIwAR0Even1XeX3-dVf4D6uw60cpwPrVeypqrolbop1dtgT6jCfvFpezADfCq0&h=AT3SRVn-XAeYqoVPjKE2CtIdSO1XV6PQmMNVgnDE7A93_44eCu5CRD5idc53iAAAcCabCNMmhkQb49kx-I0DvmRIafcgQe0zGr7PlHDCNFxw_wPjkYgHxF4sgQAfs42A7Gs" color="dark"  >
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button href = "https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F_iamlykadawis%2F%3Ffbclid%3DIwAR26MJernkhHSMDUHKlPny2hhqr_l4xIymJ3UsFJkUSoW0VXV7B9R4PXgho&h=AT3SRVn-XAeYqoVPjKE2CtIdSO1XV6PQmMNVgnDE7A93_44eCu5CRD5idc53iAAAcCabCNMmhkQb49kx-I0DvmRIafcgQe0zGr7PlHDCNFxw_wPjkYgHxF4sgQAfs42A7GsS" color="dark">
      <ion-icon name="logo-instagram"></ion-icon>
     </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img width="125" height="125" src = "/assets/images/main/ash.jpg">
      <ion-label class ="ion-padding">Ashley Andrew Ureña</ion-label>
    </ion-item>
  
    <ion-card-content color="dark">
      Co-Developer and Researcher of the App. Likes anime and waifus. Wish to be Isekai'd (not in the Phillipines tho).
      Know's many nuclear codes.<br>
      <br><ion-label>Contact Me @ My Social Media Links below:</ion-label><br>
      <ion-button href = "https://www.facebook.com/ash.urena.1" color="dark" >
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
