<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/drink">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Food Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

      
      <!-- <h3>{{ulams.title}}</h3>
      <p> {{ulams.descrip}}</p> -->

      <ion-card>
        <ion-card-header>
          <p align = "center">
          <img width = "300" height = "300" src = "{{drink.img}}">
           </p>
          <ion-card-subtitle>{{drink.sub}}</ion-card-subtitle>
          <ion-card-title>{{drink.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{drink.descrip}}<br><br>
          {{drink.ingre}}
        </ion-card-content>
      </ion-card>
      

</ion-content>