<<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/categories">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
     Pinoy Side Dishes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor = "let s of side" (click)= "goToSide(s)">
    <ion-label>
      <h3>{{s.title}}</h3>
    </ion-label>
  </ion-item>
  </ion-list>

</ion-content>