<ion-app>
  <ion-menu menuId = "main-menu" content-id = "main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="people-outline"class="ion-padding"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/about">
            <ion-icon name="alert-circle-outline" class="ion-padding"></ion-icon>
            <ion-label >About</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/contact">
            <ion-icon name="people-outline" class="ion-padding"></ion-icon>
            <ion-label>Developers</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id= "main"> </ion-router-outlet>
</ion-app>
