<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/categories">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Drinks and Desserts
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor = "let d of drink" (click)= "goToDrinks(d)">
    <ion-label>
      <h3>{{d.title}}</h3>
    </ion-label>
  </ion-item>
  </ion-list>

</ion-content>
