<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/categories">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Pinoy Main Dishes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor = "let f of ulams" (click)= "goToUlam(f)" >
    <ion-label>
      <h3>{{f.title}}</h3>
    </ion-label>
  </ion-item>
  </ion-list>

</ion-content>

