<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink = "/recipe">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Pinoy Drinks and Desserts
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-item *ngFor = "let m of meryah" (click)= "goToMyen(m)" >
    <ion-thumbnail >
      <img width = "150" height = "150"  src="{{m.img}}">
    </ion-thumbnail>
    <ion-label class="ion-padding">{{m.title}}</ion-label>
  </ion-item>
  
</ion-content>