<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food Recipe App
    </ion-title>
    <ion-menu-button menu = "main-menu" slot = "start"></ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content class = "background"> 
  

  <h5 class="ion-padding"> Cook your favorite Filipino Food!!</h5>

<ion-slides [options] = 'slideOpts'>

<ion-slide>
  <ion-card *ngFor = "let pic of menu">
    <img width = "200" height = "200"  src = {{pic.image}}>
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card *ngFor = "let pic of menu">
    <img width = "200" height = "200"  src = {{pic.image1}}>
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card *ngFor = "let pic of menu">
    <img width = "200" height = "200" src = {{pic.image2}}>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card *ngFor = "let pic of menu">
    <img width = "200" height = "200" src = {{pic.imagee}}>
  </ion-card>
</ion-slide>
 </ion-slides>


 <H4 class="ion-padding">Food Recipes</H4>

 <ion-item [routerLink]="['/book']" lines="none" color = "light" >
  <ion-thumbnail slot="start" >
    <img width = "55" height = "55"  src="/assets/images/recipe-one/bulalo.jpg">
  </ion-thumbnail>
  <ion-label>Batangas Bulalo</ion-label>
</ion-item>
<ion-item [routerLink]="['/book-sdish']" lines="none" >
  <ion-thumbnail slot="start">
    <img width = "55" height = "55"  src="/assets/images/recipe-two/kilawin.jpg">
  </ion-thumbnail>
  <ion-label>Kinilaw Na Tuna</ion-label>
</ion-item>
<ion-item [routerLink]="['/book-myen']" lines="none">
  <ion-thumbnail slot="start">
    <img width = "55" height = "55"  src="/assets/images/main/maruya.jpg">
  </ion-thumbnail>
  <ion-label>Maruya</ion-label>
</ion-item>

<ion-item [routerLink]="['/book-drinks']" lines="none" >
  <ion-thumbnail slot="start">
    <img width = "55" height = "55"  src="/assets/images/main/leche.jpg">
  </ion-thumbnail>
  <ion-label>Leche Flan</ion-label>
</ion-item>

 <H4 class="ion-padding">Business Tips</H4>
 <ion-card>
  <ion-item [routerLink]="['/business']" lines="none">
    <ion-icon name="diamond-outline"></ion-icon>
    <ion-label class="ion-padding" >Business During Pandemic</ion-label>
  </ion-item>
  <ion-card-content>
    This Food Recipe App is not only about food trivia's and food recipes, we encourage to build small food business with the help of this food recipes.
    Not only to bring good and delicious food but to be protifable and to earn extra income in today's pandemic.
  </ion-card-content>
</ion-card>

</ion-content>

<ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>4</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="categories" (click)= "goToCategories()">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe" [routerLink]="['/recipe']" >
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Recipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="business" [routerLink]="['/business']">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
