<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot ="start" routerLink= "/business" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Business Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor = "let item of busi">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label class = "item-text-wrap" color = "dark">
        {{item.par1}}<br><br>
        {{item.par2}}<br><br>
        {{item.par3}}<br>
    </ion-label>

    </ion-card-content>
  </ion-card>
</ion-content>
